@font-face{
    src: url('../fonts/PlusJakartaSans-Regular.woff');
    font-family: 'plus-jaka-reg';
}
@font-face {
    font-family: plus-jaka-bold;
    src: url('../fonts/PlusJakartaSans-Bold.woff');
}