.services{
    display: flex;
    justify-content: center;
}
.service-1,.service-2,.service-3,.service-4{
    display: flex;
}
.sub-service-text{
    display: block;
}
.sub-service-fav{
    font-size: 30px;
    margin-right: 30px;
}